<h1 class="page-title">All lists</h1>
<div class="page-content">
    <div class="page-content__left main-content">
        <ul class="list">
            {{#each lists}}
                <li class="list__item list-item">
                    <a
                        class="list-item__link"
                        href="/lists/{{this.id}}">
                        {{this.name}}
                    </a>
                    <button
                        class="list-item__remove"
                        data-id="{{this.id}}">
                        X
                    </button>
                </li>
            {{/each}}
        </ul>
    </div>
    <div class="page-content__right add-container">
        <input
            class="add-container__text" 
            id="text_add">
        </input>
        <button
            class="add-container__button"
            id="button_add">
            Add new list
        </button>
    </div>
</div>

<script src="/scripts/index.js"></script>
