<h1>TODO Lists</h1>
<ul>
    {{#each lists}}
        <li><a href="/lists/{{this.id}}">{{this.name}}</a></li>
    {{/each}}
</ul>
<input id="text1"></input>
<button id="btn1">press me</button>

<script src="/scripts/index.js"></script>
