<h1>{{name}}</h1>
<ul>
    {{#each items}}
        <li>{{this}}</li>
    {{/each}}
</ul>
<h3><a href="/">Back</a></h3>
{{!-- <button id="btn1">press me</button> --}}

{{!-- <script src="scripts/script.js"></script> --}}

